/*basic setups*/
* {
    margin: 0rem 4rem;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5;
}

body {
    font-size: 1.6rem;
}

/*end of basic setups*/

/*header section*/
.header {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    gap: 2rem;
    justify-content: space-between;
    padding: 0.7rem 3rem;
    background-color: rgb(189, 227, 123);
}

.hlinks {
    display: flex;
    justify-items: space-between;
    align-items: center;
}

.myname {
    font-size: 2rem;
    color: black;
}

.count-container {
    display: flex;
    justify-items: space-between;
    align-items: center;
    gap: 6rem;
}

/* end of header section*/

/*hero sections*/
.hero {

    background-color: rgb(189, 227, 123);
    height: 30vh;
    font-weight: 600;
    font-size: 2rem;
}

.computer-action {
    padding: 0rem 55rem;
    padding-top: 6rem;
    text-align: center;
    line-height: 3rem;
}

.image-container {
    height: 13rem;
    width: 13rem;
}

.image-container img {
    height: 100%;
    width: 100%;
}


/*end of hero*/

/*action area*/
.actionarea {
    height: 12vh;
    background-color: rgb(250, 237, 4);
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
}
.player-action {
    padding: 0rem 55rem;
    padding-top: 12rem;
}

/*end of action area*/

/*footer*/
.footer {
    height: 52.9vh;
    background-color: rgb(189, 227, 123);
}

/*end of footer*/