/* Basic setups */
* {
    margin: 0rem 5rem;
    padding: 0rem 1rem;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

/* Header section */
.header {
    display: flex;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
    justify-content: space-between;
    padding: 2rem 8rem;
    background-color: rgb(126, 240, 69);
}

.hlinks, .count-container {
    display: flex;
    align-items: center;
    gap: 5rem;
}
.hlinks h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
}

.myname {
    font-size: 2rem;
    color: black;
    margin-left: 10px;
}

/* Hero section */
.heroe {
    background-color: rgb(126, 240, 69);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;      
    font-family: 'Times New Roman', Times, serif;
}
.heroe p{
    font-size: 3rem;
    text-align: center;
}

/* Action area */
.actionarea {
    height: 12vh;
    background-color: rgb(250, 237, 4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionarea p {
    font-size: 4rem;
    font-weight: bold;
}

/* Footer */
.footer {
    height: 22vh;
    background-color: rgb(126, 240, 69);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.action-display {
    align-items: center; 
    font-size: 2rem;
    font-weight: bold;
}

.symbols {
    width: 13rem;
    height: 13rem;
    border: dashed black 3px;
    font-weight: bold;
    text-align: center;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Choices section */
.last-one {
    height: 30vh;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: rgb(126, 240, 69);
}

.choices button {
    width: 15rem;
    height: 15rem;
    font-size: 2rem;
    font-weight: bold;
}

.greenText {
    color: green;
}

.redText {
    color: red;
}
